@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
body{
    background-color: #f1f2f6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
.container{
    height: 35rem;
    margin: 5rem 0;
    outline: .1rem groove white;
    width: 25rem;
    max-width: 500px;
    background-color: #d1d8e0;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.display{
    height: 5rem;
    position: relative;
    color: blue;
    width: 90%;
    overflow-y: hidden;
    background-color: #CAD3C8;
    overflow-x: auto;
    border-radius: .25rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.text{
    width: 100%;
    text-align: center;
    font-size: .65rem;
    margin: 1rem;
}
.keypad{
    height: 21.5rem;
    width: 90%;
    border-radius: 1rem;
    /* background-color: lightgray; */
    margin-top: 3rem;
    outline: .1rem groove white;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.numpad{
    height: 22rem;
    width: 76%;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
}
.numpad button,.arithmetic-keys button{
    height: 4rem;
    width: 4rem;
    border-radius: 50px;
    background-color: #7f8fa6;
    margin: .80rem;
    font-size: 1.25rem;
    display: grid;
    place-items: center;
    cursor: pointer;
    color: white;
    font-weight: 800;
}
.numpad button:nth-child(11){
    background-color: #eb4d4b;
}
.numpad button:nth-child(12){
    background-color: #22a6b3;
}

.arithmetic-keys{
    height: 22rem;
    width: 5.5rem;
    /* float: right; */
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
}
.arithmetic-keys button{
    background-color: #ffc048;
}
.theme{
    height: 2.5rem;
    width: 2.5rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background-color: white;
    position: fixed;
    z-index: 3;
    right: .25rem;
    top: .25rem;
    font-size: .25rem;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.theme img{
    height: 1.5rem;
    width: 1.5rem;
}
.theme:active{
    transform: scale(1.1);
}
.captured-texts-area{
    height: 1.85rem;
    width: auto;
    display: inline-flex;
    font-size: 1.35rem;
    float: right;
    margin-right: .25rem;
}
.capturing-text-area{
    height: 3.1rem;
    font-size: 2.25rem;
    position: absolute;
    bottom: 0;
    right: .25rem;
}
.not-supported{
    display: none;
}
.clearAll-btn{
    height: 1.5rem;
    width: fit-content;
    padding: 0 .5rem;
    text-wrap: nowrap;
    font-size: 1rem;
    border-radius: .25rem;
    position: absolute;
    top: -2.25rem;
    right: .25rem;
    background-color: #a5b1c2;
    cursor: pointer;
}
.warning{
    color: red;
    font-size: .85rem;
    font-weight: 500;
    letter-spacing: .15rem;
    text-align: center;
    position: absolute;
    top: -5rem;
    height: fit-content;
    width: fit-content;
    z-index: 2;
    transition: 1000ms;
}
@media screen and (max-width:430px){
    .container{
        width: 18rem;
        height: 28rem;
    }
    .numpad button,.arithmetic-keys button{
        height: 2.5rem;
        width: 2.5rem;
    }
    .numpad{
        height: 16.25rem;
    }
    .arithmetic-keys{
        height: 16.25rem;
        width: 4rem;
    }
    .keypad{
        margin-top: 1rem;
        height: 17rem;
    }
    .display{
        height: 4rem;
        margin-bottom: 1rem;
    }
    .clearAll-btn{
        height: 1.2rem;
        font-size: .85rem;
        top: -1.5rem;
    }
}
@media screen and (max-width:290px){
    .container{
        display: none;
    }
    .theme{
        display: none;
    }
    .not-supported{
        display: flex;
        font-size: 5vmin;
        color: red;
        text-wrap: nowrap;
    }
    .warning{
        display: none;
    }
}